
<div class="topsquare">
<h2>
Thank you, 
<%= @guest.name %>
</h2>


</div>

<div class="mapdiv">
<h3>
	4th December 2016 4:00pm onwards
</h3>

<iframe
	
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCrvbvuOIFzG4yGLfCwKs5NsOR89LsPpZI
    &q=6020 Yucca Lane N, Plymouth MN 55446" allowfullscreen>
</iframe>

</div>
